@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');



.helo {
    font-family: 'Pacifico', cursive;
    font-size: larger;
    color: #10B981


;

    text-decoration: none;
}
body {
    text-align: left;
    font-family: 'Lato', sans-serif;
    word-spacing: 5px;
    line-height: 1.5;
    
}
.heading {
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    border: solid 2px;
    background-color: #F9FAFB;

    padding: 2rem;
    border-style: inset ;
    border-radius: 2rem;
    

        
}
.note {
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    

}

.Q2 {
    margin-top: 4rem;


}

.answerLink {

    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 20%;
    text-decoration: none;
    border-style: outset;
    color: #F87171;
    border: 3px;
    float: right;
    background-color: #F9FAFB;
    margin-right: 35rem;
    border-color: #FECACA

    ;



    border-style: outset;




}

.answerLink:hover {

    color: black;
    transition-duration: 0.4s;
    background-color: #059669;
    /* Green */
    color: wheat;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.notelink {
    text-decoration: none;
    color: green
;
    font-weight:7900;
    font-size: larger;

}
#atb {
    color:  #059669;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;

}
.link {
    text-decoration: none;
    list-style:none;
}
footer {
    background-color: #F3F4F6

    ;
    padding: 2rem 1rem;
    text-align: center;
    

    border-bottom-left-radius: 9rem;
    border-top-right-radius: 50rem;
    border-top-left-radius: 50rem;
    border-style: outset ;
}

.footer .link {
    color: black;
    font-size: larger;
    text-decoration: none;

}

.list-item-inline {
    display: inline;
    padding: 4rem 2rem;


}

.codeLink {

    border: 3px;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 20%;
    border-style: inset;
    float: right;
    background-color: #F3F4F6;
    color: #818CF8;
    border-color: #DDD6FE;

}

.codeLink:hover {
    background-color: #059669;
    /* Green */
    color: wheat;
    transition-duration: 0.4s;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);



}